<footer>
    <p id="disclaimer">
        © <%= new Date().getFullYear() %> The Book Worm. All rights reserved.
        <br>
        Book cover images sourced from Open Library and other online platforms.
        <br>
        All views shared are my own and do not represent those of the authors or publishers.
    </p>
</footer>